.SearchBox {
  position: relative;
  width: 200px;
}

.SearchBox input {
  padding: 10px 25px 10px 10px;
  border: 1px solid rgba(124, 146, 205, 0.7);
  border-radius: 50px;
  width: 100%;
}

.SearchBox input::placeholder {
  color: rgba(124, 146, 205, 0.7);
}

.SearchBox input.out-length {
  border: 1px solid #ff0000;
}

.SearchBox .search-btn {
  position: absolute;
  background-color: #4A36EB;
  padding: 5px 8px;
  border-radius: 50%;
  top: 3px;
  left: 202px;
}

.SearchBox .search-btn.active {
  display: none;
}

.SearchBox .search-btn img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(62deg)
    brightness(103%) contrast(100%);
}
