.TabMenu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.TabMenu ul li {
    background-color: rgba(221, 221, 221, 0.5);
    display: flex;
    box-sizing: border-box;
}

.TabMenu ul li:first-child {
    background-color: #ffffff;
    border-top: 1px solid #8CDC52;
}

.TabMenu ul li a {
    color: #8e8e8e;
    text-decoration: none;
    padding: 14px;
    border: 0.1px solid rgba(221, 221, 221, 0.8);
    box-sizing: border-box;
    width: 140px;
}

.TabMenu ul li:first-child a {
    color: #8CDC52;
}

.TabMenu ul li:first-child a img {
    filter: invert(72%) sepia(93%) saturate(293%) hue-rotate(43deg) brightness(91%) contrast(97%);
}